<%= form_for(@dragonfly_image) do |f| %>
  <% if @dragonfly_image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dragonfly_image.errors.count, "error") %> prohibited this dragonfly_image from being saved:</h2>

      <ul>
      <% @dragonfly_image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :asset %>
    <%= f.file_field :asset  %> 

     <% if f.object.asset_stored? %>
      <br>
      <%= image_tag(f.object.asset.thumb('140x140').url, class: "th")  %> <br>
        <em>The Image</em>
    <% end %>

   

  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
